
@page {
    margin: 0mm;
    margin-header: 8mm;
    margin-footer: 8mm;
    margin-top: 8mm;
    margin-right: 10mm;
    margin-left: 10mm;
    margin-bottom: 8mm;
}

.firma {
    left: 0;
    font-size: 20px;
    margin-top: 200px;
    text-align: left;
    page-break-inside: avoid;
}

br[style] {
    display:none;
}

#titulo{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-family: "Arial Black", arial-black;
    margin-right: 10px;
}

#textoFinal{
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    margin-right: 15px;
}

#contenedorp{
    font-weight: bold;
}

#logo{
    float: left;
    height : 90px;
    width : 64px;
    margin-left: 20px;
}


#contenedorGeneral{
    font-weight: bold;
    text-align: right;
}


#tablaFor {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 35px;
    text-align: center;
}

#tablaFor td{
    border: 1px solid #1E1E1E;
    padding: 8px;
    text-align: center;
    font-size: 14px;
}

#tablaFor th {
    border: 1px solid #1E1E1E;
    padding: 8px;
    text-align: center;
}

#tablaFor th {
    padding-top: 12px;
    padding-bottom: 12px;
    color: #1E1E1E;
    text-align: left;
    font-size: 14px;
}


/* TRANSPARENTE TABLA*/

#tablaForTranspa {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 25px;
    border: hidden; !important;
    text-align: center;
}

#tablaForTranspa td{
    border: hidden;
    padding: 5px;
    text-align: center;
    font-size: 14px;
}

#tablaForTranspa th {
    border: hidden;
    padding: 8px;
    text-align: center;
}

#tablaForTranspa th {
    padding-top: 12px;
    padding-bottom: 12px;
    color: #1E1E1E;
    text-align: left;
    font-size: 14px;
}


